<div class="title">
    <h1> {{ operation }} Contact </h1>
</div>
        <form [formGroup]="form" (ngSubmit)="saveContact()">
            <mat-grid-list class="mt-10" cols="1"  [rowHeight]="85">
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input formControlName="FirstName" matInput placeholder="Placeholder">
                      </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input formControlName="LastName" matInput placeholder="Placeholder">
                      </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Phone number</mat-label>
                        <input type="number" formControlName="PhoneNumber" matInput placeholder="Placeholder">
                        <mat-icon matSuffix>phone</mat-icon>
                      </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Text Comments</mat-label>
                        <input formControlName="TextComments" matInput placeholder="Placeholder">
                      </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile >
                  <button [disabled]="form.invalid" type="submit" mat-button color="primary">Ok</button>
                  <button type="button" (click)="onBack()" mat-button>Back</button>
              </mat-grid-tile>

            </mat-grid-list>
        </form>
