<div class="title">
    <h1>Phone book</h1>
</div>

<ng-template #addOrEditContact let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">{{ operationType }} Contact</h4>
	</div>
	<div class="modal-body">
     <app-add-edit-contact [id]="selectedId" (operationTypeEV)="onOperationTypeEVChange($event)" (onSaveForm)="onSaveForm($event)" ></app-add-edit-contact>
	</div>
</ng-template>

<ng-template #deleteContact let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Delete Contact</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <p>Are you sure you want to delete this contact?</p>
    <button type="button" class="btn btn-primary" (click)="deleteRecord()">Yes</button>
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Cancel</button>
	</div>



</ng-template>

<div class="container">
  <div class="mt-10">
    <mat-form-field  >
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input autocomplete="off">
    </mat-form-field>
  </div>

  <div class="add"><button (click)="open(addOrEditContact)" mat-raised-button color="primary">New Contact</button></div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

        <!-- First name Column -->
        <ng-container matColumnDef="FirstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
          <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
        </ng-container>

         <!-- Last name Column -->
         <ng-container matColumnDef="LastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
          </ng-container>

           <!-- Phone number Column -->
        <ng-container matColumnDef="PhoneNumber">
            <th mat-header-cell *matHeaderCellDef> Phone Number </th>
            <td mat-cell *matCellDef="let element"> {{element.PhoneNumber}} </td>
          </ng-container>

           <!-- Comments Column -->
        <ng-container matColumnDef="TextComments">
            <th mat-header-cell *matHeaderCellDef> Text Comments </th>
            <td mat-cell *matCellDef="let element"> {{element.TextComments}} </td>
          </ng-container>

          <!-- Search Column -->
          <ng-container matColumnDef="Search">
            <th mat-header-cell *matHeaderCellDef> Search </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon routerLink="/phones/check/{{ element.Id }}" class="search" fontIcon="search"></mat-icon>
            </td>
          </ng-container>

           <!-- Edit Column -->
           <ng-container matColumnDef="Edit">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let element">

                <mat-icon  class="edit" fontIcon="edit" (click)="onEditContact(addOrEditContact, element.Id)"></mat-icon>

            </td>
          </ng-container>

           <!-- Delete Column -->
           <ng-container matColumnDef="Delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon (click)="onDeleteContact(element.Id, deleteContact)" class="delete" fontIcon="delete"></mat-icon>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
</div>




